.flex{
  display: flex;
}

.flexmiddle{
  justify-content: center;
  text-align: center;
}

.flexcenter{
  align-items: center;
}

.flexright{
  justify-content: flex-end;
  text-align: right;
}

main{
  min-height: calc(70vh);
}

header{
  min-height: calc(15vh - 1rem);
  padding-top: 1rem;
}

.padlr-1{
  padding-left: 1rem;
  padding-right: 1rem;
}
.padlr-2{
  padding-left: 2rem;
  padding-right: 2rem;
}

.padb-2{
  padding-bottom: 2rem;
}
