*{
  font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Kreon', serif;
}

h1{
  font-weight: 400;
}

.information, .information2{
   box-sizing:content-box;
   width: 20px; height: 20px;
   display: inline-block;
   padding: 0px;
   border-radius: 500px;
   border: 3px solid white;
   transition: 0.3s;
}

.information:hover{
   color: #DAA348;
   border-color: #DAA348;
}

.information2:hover{
   color: black;
   border-color: black;
}
