*{
  margin: 0;
  padding: 0;
  color: white;
}

.background{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh; width: 100vw;
  background-size: cover, cover !important;
  background-position: center !important;
  z-index: -100;
}

.vraagimage{
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  border-radius: 2px;
}

.title{
  font-size: 4rem;
  font-weight: 300;
  padding: 2rem;
}

.button{
  padding: 0.3rem 1.5rem 0.3rem 1.5rem;
  border-radius: 2px;
  position: relative;
  /* border: 4px solid white; */
  /* background-color: rgba(0, 0, 0, 0.7); */
  background-color: #0c0c0c;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 9rem;
  top: 0;
  transition: 0.3s;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.button:hover{
  background-color: rgba(0, 0, 0, 1);
  /* border-color: #DAA348; */
  top: -3px;
  width: 9.1rem;
  box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.5);
}

a{
  transition: color 0.3s;
  font-size: 1rem;
}

a:hover{
  color: #DAA348;
}

@media screen and (max-width: 450px) {

}
