*{
  margin: 0;
  padding: 0;
  color: white;
}

.background{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh; width: 100vw;
  background-size: cover, cover !important;
  background-position: center !important;
  z-index: -100;
}

.vraagimage{
  border: 4px solid white;
}

.title{
  font-size: 4rem;
  font-weight: 300;
  padding: 2rem;
}

.button{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 10rem;
  border: 4px solid white;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
}

.button:hover{
  background-color: rgba(0, 0, 0, 0.5);
}
