.col-lg-9 {
  margin: 0 auto;
}
h2{
  height: 15%;
}
body{
  background-color: #212121 !important;
  background-image: url('{{ asset('public/img/grayboi.png')}}')  !important;
  overflow-x: hidden;
}

.popup{
  z-index: 999;
  background-color: #212121;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.5);
  text-align: center;
}

h3{
  font-size: 1rem !important;
  font-style: italic;
  padding: 1rem;
  margin: 0 !important;
}

.klaarknop{
  position: fixed;
  z-index: 999;
  bottom: 5%;
  right: 3%;
  width: 10rem;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  text-align: center;
  background-color: #4CAF50;
  box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.5);

  text-decoration: none;
  list-style-type: none;
  color: white;
  transition: 0.3s
}

.klaarknop:hover{
  color: white;
  text-decoration: none;
  list-style-type: none;
  background-color: #43A047;
  bottom: calc(5% + 3px);

  box-shadow: 1px 7px 7px 0px rgba(0,0,0,0.5);
}

#row1 {
  height: 100vh;
}

.col-md-4{
  transition: 0.3s;
  position: relative;
  bottom: 0;
}

.col-md-4:hover{
    box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.5);
    z-index: 998;
    bottom: 3px;
    /* background-color: #F57C00 !important; */
}
.col-md-4 h2{
  display: block;
  position: relative;
  bottom: 2rem;
  text-align: center;
  padding: 0 1rem;
  width: calc(100% - 4rem);
  box-sizing: content-box;
  word-wrap:break-word;

}

#colLeft {
  background-color: #444444;
  background-image: url('logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}

#colRight {
  background-color: rgba(0,0,0,0.5);
  height: auto;
}

.halfvh{
   min-height: 50vh;
}

.vraag {
   min-height: 200px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 175px !important;
  background-size: 50%;
  text-align: center;
  color: white;
  border: .5px solid #212121;
  transition: 0.3s !important;
}

.vraag h2 {
  margin-top: 20%;
}

.vraag a{
   color: white;
   position: relative;
   display: block;
   top: 2rem;
   box-sizing: content-box;
   min-width: 20px;
   min-height: 20px;
}

.vraag a:hover{
   text-decoration: none;
}

/* .vraag:hover, .vraag:checked {
  background-color: #C6551C;
} */

.kleur1{
   background-color: #B4A597;
}

.kleur2{
   background-color: #A49485;
}

.kleur3{
   background-color: #948271;
}

.kleur4{
   background-color: #867362;
}

.kleur1:hover, .kleur2:hover, .kleur3:hover, .kleur4:hover{
   background-color: #685A4D;
}

.clicked1{
   background-color: #FFC166;
}

.clicked2{
   background-color: #FFB211;
}

.clicked3{
   background-color: #EFA947;
}

.clicked4{
   background-color: #E69C49;
}

.clicked1:hover, .clicked2:hover, .clicked3:hover, .clicked4:hover{
   background-color: #D68733;
}

@media screen and (max-width: 767px){
  .vraag a{
    margin-right: 2rem;
  }
}
